// @import "../../../assets/styles/_reset";
@import "../../../assets/styles/_mixins";

.wrapper {
  background-image: url(../../../../public/bg.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 100%;
  color: #fff;
  position: relative;
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}
.todo {
  margin: auto;
  max-width: toRem(1000);
  display: flex;
  @include adaptiveValue("row-gap", 20, 5);
  @include adaptiveValue("padding-block", 30, 10);
  flex-direction: column;

		// .todo__wrapper

		&__wrapper {
		}

		// .todo__container

		&__container {
      text-align: center;
      display: flex;
      flex-direction: column;
      @include adaptiveValue("row-gap", 30, 15);
      border-radius: toRem(8);
      opacity: 0.8;
      filter: brightness(100%);
      @include adaptiveValue("padding-block", 20, 10);
		}
}
