@import "../../../../../assets/styles/_mixins";
// @import "@app/assets/styles/_mixins";
:host{
  position: relative;
}
.todo__title {
  text-shadow: toRem(-4) toRem(-2) 0 #000,
  toRem(-4) toRem(-2) toRem(12) hsl(0deg 1.7% 50.22%),
  toRem(7) toRem(5) toRem(5) #000,
  toRem(-3) toRem(2) 0 #000;
  color: #aea053;
  text-align: left;
  @include adaptiveValue("margin-left", 40, 10);
  text-transform: capitalize;
  font-family: "Quando", sans-serif;
  letter-spacing: toRem(2);

  @include adaptiveValue("font-size", 48, 18);
  @include adaptiveValue("padding-block", 20, 10);
  @include adaptiveValue("padding-inline", 50, 15);

  &::after {
    content: "";
    position: absolute;
    bottom: 2%;
    right: 3%;
    height: toRem(3);
    width: 82%;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(hsla(0, 24.22%, 85.3%, 0.28)),
      color-stop(48.9%, hsla(62.11, 100%, 50%, 0.43)),
      to(hsla(34.14, 100%, 50%, 0.72))
    );
    background: linear-gradient(
      90deg,
      hsl(0deg 44.82% 35.69% / 29%) 0%,
      hsl(50.37deg 100% 50% / 80%) 48.9%,
      hsl(34.14deg 10.49% 81.68% / 87%) 100%
    );
    box-shadow: toRem(-12) toRem(7) toRem(8) toRem(16) rgba(0, 0, 0, 0.3);
  }
}

