// @import "../../../../../assets/styles/_reset";
@import "../../../../../assets/styles/_mixins";

.todos-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 70%);

  @include adaptiveValue("row-gap", 28, 16);
  @include adaptiveValue("font-size", 24, 16);
  @include adaptiveValue("padding-block", 20, 10);
  @include adaptiveValue("padding-inline", 50, 15);
  border-radius: toRem(8);
  box-shadow: inset 0 0 toRem(15) #9f9351;
  margin-inline: toRem(15);
}
